[tool.poetry]
name = "mailersend"
version = "0.2.0"
description = "The official MailerSend Python SDK"
authors = ["Alex Orfanos <alexandros@mailerlite.com>"]

[tool.poetry.dependencies]
python = "^3.6.1"
requests = "^2.25.0"
pre-commit = "^2.12.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
