[tool.poetry]
name = "mailersend"
version = "0.3.9"
description = "The official MailerSend Python SDK"
authors = ["Igor HrÄek <igor@mailerlite.com>"]
readme = "README.md"
keywords = ["mailersend", "mail"]


[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.25.0"
pre-commit = "^2.12.1"
setuptools = "^63.0.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
twine = "^4.0.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
