interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1777680000&date_to=1780272000&tags%5B%5D=newsletter&tags%5B%5D=marketing&group_by=weeks&event%5B%5D=sent&event%5B%5D=delivered&event%5B%5D=opened&event%5B%5D=clicked
  response:
    body:
      string: '{"data":{"date_from":"1777680000","date_to":"1780358399","group_by":"weeks","stats":[{"date":"1777248000","sent":0,"delivered":0,"opened":0,"clicked":0},{"date":"1777852800","sent":0,"delivered":0,"opened":0,"clicked":0},{"date":"1778457600","sent":0,"delivered":0,"opened":0,"clicked":0},{"date":"1779062400","sent":0,"delivered":0,"opened":0,"clicked":0},{"date":"1779667200","sent":0,"delivered":0,"opened":0,"clicked":0},{"date":"1780272000","sent":0,"delivered":0,"opened":0,"clicked":0}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
