interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?domain_id=your-domain-id&date_from=1746144000&date_to=1748736000&group_by=months&event%5B%5D=opened&event%5B%5D=clicked&event%5B%5D=unsubscribed&event%5B%5D=spam_complaints
  response:
    body:
      string: '{"data":{"date_from":"1746144000","date_to":"1748822399","group_by":"months","stats":[{"date":"1746057600","opened":2,"clicked":0,"unsubscribed":0,"spam_complaints":0},{"date":"1748736000","opened":0,"clicked":0,"unsubscribed":0,"spam_complaints":0}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
