interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1777680000&date_to=1780272000&tags%5B%5D=integration-test&group_by=days&event%5B%5D=sent&event%5B%5D=delivered
  response:
    body:
      string: '{"data":{"date_from":"1777680000","date_to":"1780358399","group_by":"days","stats":[{"date":"1777680000","sent":0,"delivered":0},{"date":"1777766400","sent":0,"delivered":0},{"date":"1777852800","sent":0,"delivered":0},{"date":"1777939200","sent":0,"delivered":0},{"date":"1778025600","sent":0,"delivered":0},{"date":"1778112000","sent":0,"delivered":0},{"date":"1778198400","sent":0,"delivered":0},{"date":"1778284800","sent":0,"delivered":0},{"date":"1778371200","sent":0,"delivered":0},{"date":"1778457600","sent":0,"delivered":0},{"date":"1778544000","sent":0,"delivered":0},{"date":"1778630400","sent":0,"delivered":0},{"date":"1778716800","sent":0,"delivered":0},{"date":"1778803200","sent":0,"delivered":0},{"date":"1778889600","sent":0,"delivered":0},{"date":"1778976000","sent":0,"delivered":0},{"date":"1779062400","sent":0,"delivered":0},{"date":"1779148800","sent":0,"delivered":0},{"date":"1779235200","sent":0,"delivered":0},{"date":"1779321600","sent":0,"delivered":0},{"date":"1779408000","sent":0,"delivered":0},{"date":"1779494400","sent":0,"delivered":0},{"date":"1779580800","sent":0,"delivered":0},{"date":"1779667200","sent":0,"delivered":0},{"date":"1779753600","sent":0,"delivered":0},{"date":"1779840000","sent":0,"delivered":0},{"date":"1779926400","sent":0,"delivered":0},{"date":"1780012800","sent":0,"delivered":0},{"date":"1780099200","sent":0,"delivered":0},{"date":"1780185600","sent":0,"delivered":0},{"date":"1780272000","sent":0,"delivered":0}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/country?date_from=1777680000&date_to=1780272000&tags%5B%5D=integration-test
  response:
    body:
      string: '{"data":{"date_from":1777680000,"date_to":1780358399,"stats":[]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/ua-name?date_from=1777680000&date_to=1780272000&tags%5B%5D=integration-test
  response:
    body:
      string: '{"data":{"date_from":1777680000,"date_to":1780358399,"stats":[]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/ua-type?date_from=1777680000&date_to=1780272000&tags%5B%5D=integration-test
  response:
    body:
      string: '{"data":{"date_from":1777680000,"date_to":1780358399,"stats":[]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
