interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/ua-type?recipient_id%5B%5D=recipient-1&recipient_id%5B%5D=recipient-2&date_from=1746144000&date_to=1748736000
  response:
    body:
      string: '{"data":{"date_from":1746144000,"date_to":1748822399,"stats":[{"name":"desktop","count":1},{"name":"webmail","count":1}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
