interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/ua-type?date_from=1777680000&date_to=1780272000
  response:
    body:
      string: '{"data":{"date_from":1777680000,"date_to":1780358399,"stats":[]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
