interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1746144000&date_to=1748736000&group_by=days&event%5B%5D=sent&event%5B%5D=delivered&event%5B%5D=opened&event%5B%5D=clicked&event%5B%5D=hard_bounced&event%5B%5D=soft_bounced&event%5B%5D=unsubscribed&event%5B%5D=spam_complaints
  response:
    body:
      string: '{"data":{"date_from":"1746144000","date_to":"1748822399","group_by":"days","stats":[{"date":"1746144000","sent":0,"delivered":0,"opened":0,"clicked":0,"hard_bounced":0,"soft_bounced":0,"unsubscribed":0,"spam_complaints":0},{"date":"1746230400","sent":0,"delivered":0,"opened":0,"clicked":0,"hard_bounced":0,"soft_bounced":0,"unsubscribed":0,"spam_complaints":0},{"date":"1746316800","sent":0,"delivered":0,"opened":0,"clicked":0,"hard_bounced":0,"soft_bounced":0,"unsubscribed":0,"spam_complaints":0},{"date":"1746403200","sent":0,"delivered":0,"opened":0,"clicked":0,"hard_bounced":0,"soft_bounced":0,"unsubscribed":0,"spam_complaints":0},{"date":"1746489600","sent":0,"delivered":0,"opened":0,"clicked":0,"hard_bounced[...]
