interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1779667200&date_to=1780272000&group_by=days&event%5B%5D=sent&event%5B%5D=delivered
  response:
    body:
      string: '{"data":{"date_from":"1779667200","date_to":"1780358399","group_by":"days","stats":[{"date":"1779667200","sent":0,"delivered":0},{"date":"1779753600","sent":0,"delivered":0},{"date":"1779840000","sent":0,"delivered":0},{"date":"1779926400","sent":0,"delivered":0},{"date":"1780012800","sent":0,"delivered":0},{"date":"1780099200","sent":0,"delivered":0},{"date":"1780185600","sent":0,"delivered":0},{"date":"1780272000","sent":0,"delivered":0}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1779062400&date_to=1780272000&group_by=days&event%5B%5D=opened&event%5B%5D=clicked
  response:
    body:
      string: '{"data":{"date_from":"1779062400","date_to":"1780358399","group_by":"days","stats":[{"date":"1779062400","opened":0,"clicked":0},{"date":"1779148800","opened":0,"clicked":0},{"date":"1779235200","opened":0,"clicked":0},{"date":"1779321600","opened":0,"clicked":0},{"date":"1779408000","opened":0,"clicked":0},{"date":"1779494400","opened":0,"clicked":0},{"date":"1779580800","opened":0,"clicked":0},{"date":"1779667200","opened":0,"clicked":0},{"date":"1779753600","opened":0,"clicked":0},{"date":"1779840000","opened":0,"clicked":0},{"date":"1779926400","opened":0,"clicked":0},{"date":"1780012800","opened":0,"clicked":0},{"date":"1780099200","opened":0,"clicked":0},{"date":"1780185600","opened":0,"clicked":0},{"date":"1780272000","opened":0,"clicked":0}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
