interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1777680000&date_to=1780272000&group_by=days
  response:
    body:
      string: '{"data":{"date_from":"1777680000","date_to":"1780358399","group_by":"days","stats":[{"date":"1777680000"},{"date":"1777766400"},{"date":"1777852800"},{"date":"1777939200"},{"date":"1778025600"},{"date":"1778112000"},{"date":"1778198400"},{"date":"1778284800"},{"date":"1778371200"},{"date":"1778457600"},{"date":"1778544000"},{"date":"1778630400"},{"date":"1778716800"},{"date":"1778803200"},{"date":"1778889600"},{"date":"1778976000"},{"date":"1779062400"},{"date":"1779148800"},{"date":"1779235200"},{"date":"1779321600"},{"date":"1779408000"},{"date":"1779494400"},{"date":"1779580800"},{"date":"1779667200"},{"date":"1779753600"},{"date":"1779840000"},{"date":"1779926400"},{"date":"1780012800"},{"date":"1780099200"},{"date":"1780185600"},{"date":"1780272000"}]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
