interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1746144000&date_to=1748736000&group_by=days&event%5B%5D=sent&event%5B%5D=delivered&event%5B%5D=opened
  response:
    body:
      string: '{"data":{"date_from":"1746144000","date_to":"1748822399","group_by":"days","stats":[{"date":"1746144000","sent":0,"delivered":0,"opened":0},{"date":"1746230400","sent":0,"delivered":0,"opened":0},{"date":"1746316800","sent":0,"delivered":0,"opened":0},{"date":"1746403200","sent":0,"delivered":0,"opened":0},{"date":"1746489600","sent":0,"delivered":0,"opened":0},{"date":"1746576000","sent":0,"delivered":0,"opened":0},{"date":"1746662400","sent":0,"delivered":0,"opened":0},{"date":"1746748800","sent":0,"delivered":0,"opened":0},{"date":"1746835200","sent":0,"delivered":0,"opened":0},{"date":"1746921600","sent":0,"delivered":0,"open[...]
