interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/analytics/date?date_from=1777680000&date_to=1780272000&group_by=days&event%5B%5D=sent&event%5B%5D=delivered&event%5B%5D=opened
  response:
    body:
      string: '{"data":{"date_from":"1777680000","date_to":"1780358399","group_by":"days","stats":[{"date":"1777680000","sent":0,"delivered":0,"opened":0},{"date":"1777766400","sent":0,"delivered":0,"opened":0},{"date":"1777852800","sent":0,"delivered":0,"opened":0},{"date":"1777939200","sent":0,"delivered":0,"opened":0},{"date":"1778025600","sent":0,"delivered":0,"opened":0},{"date":"1778112000","sent":0,"delivered":0,"opened":0},{"date":"1778198400","sent":0,"delivered":0,"opened":0},{"date":"1778284800","sent":0,"delivered":0,"opened":0},{"date":"1778371200","sent":0,"delivered":0,"opened":0},{"date":"1778457600","sent":0,"delivered":0,"open[...]
