interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/domains?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"dnvo4dmmq0x45r86","name":"cypress.litehub.io","dkim":true,"spf":true,"tracking":false,"is_verified":true,"is_cname_verified":false,"is_dns_active":true,"is_cname_active":false,"is_tracking_allowed":false,"domain_stats":{"total":1,"queued":0,"sent":0,"rejected":0,"delivered":1},"has_not_queued_messages":false,"not_queued_messages_count":0,"domain_settings":{"send_paused":false,"track_clicks":true,"track_opens":true,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Click
        here to <a href=\"{{unsubscribe}}\">unsubscribe<\/a><\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Click
        here to unsubscribe: {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":false,"custom_tracking_subdomain":"email","return_path_subdomain":"mta","inbound_routing_enabled":true,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false},"created_at":"2026-06-05T08:44:00.000000Z","updated_at":"2026-07-06T08:21:10.000000Z","totals":[]},{"id":"xkjn41mjxp94z781","name":"bob.fail","dkim":false,"spf":false,"tracking":false,"is_verified":true,"is_cname_verified":true,"is_dns_active":false,"is_cname_active":false,"is_tracking_allowed":false,"domain_stats":{"total":2,"queued":0,"sent":0,"rejected":0,"delivered":2},"has_not_queued_messages":false,"not_queued_messages_count":0,"domain_settings":{"send_paused":false,"track_clicks":true,"track_opens":true,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_h[...]
