interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/domains/65qngkdovk8lwr12/recipients?page=2&limit=10
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/recipients?page=1","last":null,"prev":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/recipients?page=1","next":null},"meta":{"current_page":2,"current_page_url":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/recipients?page=2","from":null,"path":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/recipients","per_page":10,"to":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
