interactions:
- request:
    body: '{"name": "Comprehensive Test List", "emails": ["test1@example.com", "test2@example.com",
      "invalid-email", "test3@validexample.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email-verification
  response:
    body:
      string: '{"data":{"id":"neqvygmw1840p7w2","name":"Comprehensive Test List","total":0,"verification_started":null,"verification_ended":null,"created_at":"2025-07-29T12:25:11.000000Z","updated_at":"2025-07-29T12:25:11.000000Z","status":{"name":"uploading","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":0}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/neqvygmw1840p7w2
  response:
    body:
      string: '{"data":{"id":"neqvygmw1840p7w2","name":"Comprehensive Test List","total":0,"verification_started":null,"verification_ended":null,"created_at":"2025-07-29T12:25:11.000000Z","updated_at":"2025-07-29T12:25:11.000000Z","status":{"name":"uploading","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":0}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/neqvygmw1840p7w2/verify
  response:
    body:
      string: '{"message":"The email addresses are still being uploaded, wait for
        the upload to finish to continue."}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/neqvygmw1840p7w2/results?page=1&limit=10
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/email-verification\/neqvygmw1840p7w2\/results?1=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":null,"path":"https:\/\/api.mailersend.com\/v1\/email-verification\/neqvygmw1840p7w2\/results","per_page":"10","to":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
