interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"ynrw7gym99jg2k8e","name":"Test Verification List","total":4,"verification_started":null,"verification_ended":null,"created_at":"2026-07-06T12:51:56.000000Z","updated_at":"2026-07-06T12:51:57.000000Z","status":{"name":"created","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":4}},{"id":"v69oxl5e22kl785k","name":"Comprehensive
        Test List","total":4,"verification_started":"2026-07-06T12:51:57.000000Z","verification_ended":"2026-07-06T12:52:57.000000Z","created_at":"2026-07-06T12:51:57.000000Z","updated_at":"2026-07-06T12:52:57.000000Z","status":{"name":"verified","count":4},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":1,"typo":0,"mailbox_not_found":3,"disposable":0,"mailbox_blocked":0,"failed":0,[...]
