interactions:
- request:
    body: '{"from": {"email": "ms-sdk@igor.fail", "name": "Sender"}, "to": [{"email":
      "igor@mailerlite.com", "name": "Recipient"}], "subject": "Test Email", "html":
      "<p>This is a test email</p>", "attachments": [{"content": "VGhpcyBpcyBhIHRlc3QgYXR0YWNobWVudCBmaWxlLg==",
      "disposition": "attachment", "filename": "test_attachment.txt"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-04-05T00:00:00Z'
      x-message-id:
      - 67efdd8eab2eb8cbb341d25a
    status:
      code: 202
      message: Accepted
version: 1
