interactions:
- request:
    body: '{"from": {"email": "from@igor.fail", "name": "Sender"}, "to": [{"email":
      "to@igor.fail", "name": "Recipient"}], "subject": "Test Email", "html": "<p>This
      is a test email</p>", "tags": ["test", "automation", "api-test"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
      x-message-id:
      - 6a4ba7fd18eecf5fff31b852
      x-send-paused:
      - 'true'
    status:
      code: 202
      message: Accepted
version: 1
