interactions:
- request:
    body: '{"from": {"email": "ms-sdk@igor.fail", "name": "Sender"}, "to": [{"email":
      "igor@mailerlite.com", "name": "Recipient"}], "subject": "Test Email", "html":
      "<p>This is a test email</p>", "headers": [{"name": "X-Custom-Header", "value":
      "Custom Value"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
      x-message-id:
      - 6888dfbc49f14409301e4d5c
      x-send-paused:
      - 'true'
    status:
      code: 202
      message: Accepted
version: 1
