interactions:
- request:
    body: '[{"from": {"email": "from@igor.fail", "name": "Sender"}, "to": [{"email":
      "to@igor.fail", "name": "Recipient"}], "subject": "Test Email", "html": "<p>First
      Email</p>"}, {"from": {"email": "from@igor.fail", "name": "Sender"}, "to": [{"email":
      "to@igor.fail", "name": "Recipient"}], "subject": "Test Email", "html": "<p>Second
      Email</p>"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/bulk-email
  response:
    body:
      string: '{"message":"The bulk email is being processed.","bulk_email_id":"6a4ba7fecead680ed75f1be3"}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 202
      message: Accepted
version: 1
