interactions:
- request:
    body: '[{"from": {"email": "from@igor.fail", "name": "Sender"}, "to": [{"email":
      "to@igor.fail", "name": "Recipient"}], "subject": "Test Email", "html": "<p>First
      Email</p>"}, {"from": {"email": "from@igor.fail", "name": "Sender"}, "to": [{"email":
      "to@igor.fail", "name": "Recipient"}], "subject": "Test Email", "html": "<p>Second
      Email</p>"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/bulk-email
  response:
    body:
      string: '{"message":"The bulk email is being processed.","bulk_email_id":"6a4ba7fe601233499cce2610"}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/bulk-email/6a4ba7fe601233499cce2610
  response:
    body:
      string: '{"data":{"id":"6a4ba7fe601233499cce2610","state":"queued","total_recipients_count":2,"suppressed_recipients_count":0,"suppressed_recipients":null,"validation_errors_count":0,"validation_errors":null,"messages_id":null,"created_at":"2026-07-06T13:05:02.000000Z","updated_at":"2026-07-06T13:05:02.000000Z"}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
