interactions:
- request:
    body: '{"name": "Comprehensive Test List", "emails": ["test1@example.com", "test2@example.com",
      "invalid-email", "test3@validexample.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email-verification
  response:
    body:
      string: '{"data":{"id":"351ndgwv7vrlzqx8","name":"Comprehensive Test List","total":0,"verification_started":null,"verification_ended":null,"created_at":"2026-07-06T13:05:03.000000Z","updated_at":"2026-07-06T13:05:03.000000Z","status":{"name":"uploading","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":0}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/351ndgwv7vrlzqx8
  response:
    body:
      string: '{"data":{"id":"351ndgwv7vrlzqx8","name":"Comprehensive Test List","total":4,"verification_started":null,"verification_ended":null,"created_at":"2026-07-06T13:05:03.000000Z","updated_at":"2026-07-06T13:05:04.000000Z","status":{"name":"created","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":4}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/351ndgwv7vrlzqx8/verify
  response:
    body:
      string: '{"data":{"id":"351ndgwv7vrlzqx8","name":"Comprehensive Test List","total":4,"verification_started":"2026-07-06T13:05:04.000000Z","verification_ended":null,"created_at":"2026-07-06T13:05:03.000000Z","updated_at":"2026-07-06T13:05:04.000000Z","status":{"name":"verifying","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":4}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification/351ndgwv7vrlzqx8/results?page=1&limit=10
  response:
    body:
      string: '{"data":[{"address":"test1@example.com","result":null},{"address":"test2@example.com","result":null},{"address":"invalid-email","result":null},{"address":"test3@validexample.com","result":null}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/email-verification\/351ndgwv7vrlzqx8\/results?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/email-verification\/351ndgwv7vrlzqx8\/results?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/email-verification\/351ndgwv7vrlzqx8\/results","per_page":"10","to":4}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
