interactions:
- request:
    body: '[{"from": {"email": "ms-sdk@igor.fail", "name": "Sender"}, "to": [{"email":
      "igor@mailerlite.com", "name": "Recipient"}], "subject": "Test Email", "html":
      "<p>First Email</p>"}, {"from": {"email": "ms-sdk@igor.fail", "name": "Sender"},
      "to": [{"email": "igor@mailerlite.com", "name": "Recipient"}], "subject": "Test
      Email", "html": "<p>Second Email</p>"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/bulk-email
  response:
    body:
      string: '{"message":"The bulk email is being processed.","bulk_email_id":"6888dfbc0beb2661ce76f512"}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 202
      message: Accepted
version: 1
