interactions:
- request:
    body: '{"name": "Test Verification List", "emails": ["test1@example.com", "test2@example.com",
      "invalid-email", "test3@validexample.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/email-verification
  response:
    body:
      string: '{"data":{"id":"k68zxl2805lj9057","name":"Test Verification List","total":0,"verification_started":null,"verification_ended":null,"created_at":"2025-07-29T12:22:38.000000Z","updated_at":"2025-07-29T12:22:38.000000Z","status":{"name":"uploading","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":0}}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 201
      message: Created
version: 1
