interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/email-verification?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"k68zxl2805lj9057","name":"Test Verification List","total":4,"verification_started":null,"verification_ended":null,"created_at":"2025-07-29T12:22:38.000000Z","updated_at":"2025-07-29T12:22:39.000000Z","status":{"name":"created","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":4}},{"id":"0p7kx4xr9249yjre","name":"Comprehensive
        Test List","total":4,"verification_started":null,"verification_ended":null,"created_at":"2025-07-29T12:22:40.000000Z","updated_at":"2025-07-29T12:22:40.000000Z","status":{"name":"created","count":0},"source":"api","statistics":{"valid":0,"catch_all":0,"mailbox_full":0,"role_based":0,"unknown":0,"syntax_error":0,"typo":0,"mailbox_not_found":0,"disposable":0,"mailbox_blocked":0,"failed":0,"not_verified":4}}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/email-verification?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":1,"path":"https:\/\/api.mailersend.com\/v1\/email-verification","per_page":"10","to":2}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
