interactions:
- request:
    body: '{"domain_id": "test-domain-id", "name": "Test Identity", "email": "ms-sdk@igor.fail",
      "reply_to_email": "ms-sdk@igor.fail", "reply_to_name": "Reply Test", "add_note":
      true, "personal_note": "Test identity for integration testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/identities
  response:
    body:
      string: "{\n    \"message\": \"The route identities could not be found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
