interactions:
- request:
    body: '{"domain_id": "65qngkdovk8lwr12", "name": "Test Identity", "email": "ms-sdk@igor.fail",
      "reply_to_email": "ms-sdk@igor.fail", "reply_to_name": "Reply Test", "add_note":
      true, "personal_note": "Test identity for integration testing"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/identities
  response:
    body:
      string: '{"message":"The email has already been taken.","errors":{"email":["The
        email has already been taken."]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-08-02T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
