interactions:
- request:
    body: '{"name": "Test Inbound Route", "domain_enabled": false, "catch_filter":
      {"type": "catch_all"}, "catch_type": "all", "match_filter": {"type": "match_all"},
      "match_type": "all", "forwards": [{"type": "email", "value": "from@igor.fail"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.mailersend.com/v1/inbound/test-inbound-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 404
      message: Not Found
version: 1
