interactions:
- request:
    body: '{"name": "Test Inbound Route", "domain_enabled": false, "catch_filter":
      {"type": "catch_all"}, "catch_type": "all", "match_filter": {"type": "match_all"},
      "match_type": "all", "forwards": [{"type": "email", "value": "ms-sdk@igor.fail"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.mailersend.com/v1/inbound/test-inbound-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
