interactions:
- request:
    body: '{"domain_id": "invalid-domain-id", "name": "Test Route", "domain_enabled":
      false, "catch_filter": {"type": "catch_all"}, "match_filter": {"type": "match_all"},
      "forwards": [{"type": "email", "value": "test@example.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/inbound
  response:
    body:
      string: '{"message":"The domain id field is required. #MS42209","errors":{"domain_id":["The
        domain id field is required. #MS42209"]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
