interactions:
- request:
    body: '{"domain_id": "invalid-domain-id", "name": "Test Inbound Route", "domain_enabled":
      false, "catch_filter": [{"type": "catch_all"}], "catch_type": "all", "match_filter":
      [{"type": "match_all"}], "match_type": "all", "forwards": [{"type": "email",
      "value": "ms-sdk@igor.fail"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/inbound
  response:
    body:
      string: '{"message":"The match filter.type field is required. #MS42209 (and
        2 more errors)","errors":{"match_filter.type":["The match filter.type field
        is required. #MS42209"],"match_filter.filters":["The match filter.filters
        field is required. #MS42209"],"domain_id":["The domain id field is required.
        #MS42209"]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
