interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/inbound?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"v69oxl5e83zl785k","name":"Email Receiver","address":"vpv6muiv4toxmhu7v5ac@inbound.mailersend.net","domain":"inbound.cypress.litehub.io","dns_checked_at":"2026-07-06T01:11:27.000000Z","enabled":true,"filters":[{"type":"catch_all","key":null,"comparer":null,"value":null},{"type":"match_all","key":null,"comparer":null,"value":null}],"forwards":[{"type":"webhook","value":"https:\/\/receiver.litesrv.io\/api\/webhooks\/inbound-email","secret":"REDACTED"}],"priority":10,"mxValues":{"priority":"10","target":"inbound.mailersend.net"},"catch_type":"all","match_type":"all"},{"id":"7dnvo4d971xg5r86","name":"My
        Inbound Route","address":"9xbbdxn5lbewxaqu2wih@inbound.mailersend.net","domain":null,"dns_checked_at":null,"enabled":true,"filters":[{"type":"catch_recipient","key":null,"comparer":"equal","value":"support"},{"type":"match_all","key":null,"comparer":null,"value":null}],"forwards":[{"type":"webhook","value":"https:\/\/igor.fail\/webhook","secret":"REDACTED"}],"priority":0,"mxValues":{"priority":"10","target":"inbound.mailersend.net"},"catch_type":"all","match_type":"all"},{"id":"yzkq340ezw6gd796","name":"My
        Inbound Route","address":"9bihxzuv97bjt91w7jvd@inbound.mailersend.net","domain":null,"dns_checked_at":null,"enabled":true,"filters":[{"type":"catch_recipient","key":null,"comparer":"equal","value":"support"},{"type":"match_sender","key":null,"comparer":"equal","value":"support"}],"forwards":[{"type":"webhook","value":"https:\/\/igor.fail\/webhook","secret":"REDACTED"}],"priority":0,"mxValues":{"priority":"10","target":"inbound.mailersend.net"},"catch_type":"all","match_type":"all"}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/inbound?page=1","last":"https:\/\/api.mailersend.com\/v1\/inbound?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","page":null,"active":false},{"url":"https:\/\/api.mailersend.com\/v1\/inbound?page=1","label":"1","page":1,"active":true},{"url":null,"label":"Next
        &raquo;","page":null,"active":false}],"path":"https:\/\/api.mailersend.com\/v1\/inbound","per_page":10,"to":3,"total":3}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
