interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/recipients?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"67efa6b0bc82b271476e086f","email":"ig.or@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":""},{"id":"67efa6b06eebb6cf5947ec61","email":"igo.r@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":""},{"id":"67ec6ab5bef95df839307ebb","email":"igor@mailerlite.com","created_at":"2025-04-01T22:37:41.000000Z","updated_at":"2025-04-01T22:37:41.000000Z","deleted_at":""},{"id":"67efa816963207eb25a039f5","email":"ms-sdk-bcc@igor.fail","created_at":"2025-04-04T09:36:22.000000Z","updated_at":"2025-04-04T09:36:22.000000Z","deleted_at":""},{"id":"67efa8167b4d692450bdf95b","email":"ms-sdk-cc@igor.fail","created_at":"2025-04-04T09:36:22.000000Z","updated_at":"2025-04-04T09:36:22.000000Z","deleted_at":""}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/recipients?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":1,"path":"https:\/\/api.mailersend.com\/v1\/recipients","per_page":10,"to":5}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
