interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/suppressions/blocklist?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"688ec2bbe0b75b54b0119874","type":"exact","pattern":"ms-sdk-bcc@igor.fail","domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2026-07-06T13:05:00.000000Z"},"created_at":"2025-08-03T02:00:27.000000Z","updated_at":"2025-08-03T02:00:27.000000Z"}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/suppressions\/blocklist?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/suppressions\/blocklist?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/suppressions\/blocklist","per_page":10,"to":1}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
