interactions:
- request:
    body: '{"domain_id": "test-domain-id", "ids": ["test-id"]}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mailersend.com/v1/suppressions/blocklist
  response:
    body:
      string: '{"message":"The selected domain id is invalid. (and 1 more error)","errors":{"domain_id":["The
        selected domain id is invalid."],"ids.0":["The selected ids.0 is invalid."]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
