interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/suppressions/hard-bounces?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"67efa6f1b810e35168ead88e","reason":"The email account
        that you tried to reach does not exist. Please try double-checking the recipient''s
        email address for typos or unnecessary spaces.","created_at":"2025-04-04T09:31:29.000000Z","recipient":{"id":"67efa6b06eebb6cf5947ec61","email":"igo.r@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":"","domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2025-07-29T12:20:49.000000Z"}}},{"id":"67efa6f13f3ebb599dc1210e","reason":"The
        email account that you tried to reach does not exist. Please try double-checking
        the recipient''s email address for typos or unnecessary spaces.","created_at":"2025-04-04T09:31:29.000000Z","recipient":{"id":"67efa6b0bc82b271476e086f","email":"ig.or@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":"","domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2025-07-29T12:20:49.000000Z"}}}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/suppressions\/hard-bounces?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":1,"path":"https:\/\/api.mailersend.com\/v1\/suppressions\/hard-bounces","per_page":10,"to":2}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
