interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/recipients?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"67ec6ab5bef95df839307ebb","email":"igor@mailerlite.com","created_at":"2025-04-01T22:37:41.000000Z","updated_at":"2025-04-01T22:37:41.000000Z","deleted_at":""},{"id":"67efa6b06eebb6cf5947ec61","email":"igo.r@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":""},{"id":"67efa6b0bc82b271476e086f","email":"ig.or@mailerlite.com","created_at":"2025-04-04T09:30:24.000000Z","updated_at":"2025-04-04T09:31:29.000000Z","deleted_at":""},{"id":"67efa8167b4d692450bdf95b","email":"ms-sdk-cc@igor.fail","created_at":"2025-04-04T09:36:22.000000Z","updated_at":"2025-04-04T09:36:22.000000Z","deleted_at":""},{"id":"688b456306c2017ead4365b8","email":"one@igor.fail","created_at":"2025-07-31T10:28:51.000000Z","updated_at":"2025-07-31T10:28:51.000000Z","deleted_at":""},{"id":"688b456368e7384ef46d188d","email":"two@igor.fail","created_at":"2025-07-31T10:28:51.000000Z","updated_at":"2025-07-31T10:28:51.000000Z","deleted_at":""},{"id":"688bd40bc49b1cf19fe2e95e","email":"bounced@example.com","created_at":"2025-07-31T20:37:31.000000Z","updated_at":"2025-07-31T20:38:14.000000Z","deleted_at":""},{"id":"6895a71f0d8acab3223ad7ae","email":"igor@hrcek.rs","created_at":"2025-08-08T07:28:31.000000Z","updated_at":"2025-08-08T07:28:31.000000Z","deleted_at":""},{"id":"6a4ba5c0fea813fc81f0cfa6","email":"to@igor.fail","created_at":"2026-07-06T12:55:28.000000Z","updated_at":"2026-07-06T12:55:28.000000Z","deleted_at":""},{"id":"6977580d0e29e82266465bdd","email":"igor@mailerlite.com","created_at":"2026-01-26T12:03:25.000000Z","updated_at":"2026-01-26T12:03:25.000000Z","deleted_at":""}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/recipients?page=1","last":null,"prev":null,"next":"https:\/\/api.mailersend.com\/v1\/recipients?page=2"},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/recipients?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/recipients","per_page":10,"to":10}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
