interactions:
- request:
    body: '{"domain_id": "test-domain-id", "recipients": ["test@example.com"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/suppressions/spam-complaints
  response:
    body:
      string: '{"message":"The domain id field is required. #MS42209","errors":{"domain_id":["The
        domain id field is required. #MS42209"]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
