interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/suppressions/unsubscribes?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"688bd436557b3f31bfb99c31","reason":null,"readable_reason":null,"recipient":{"id":"688bd40bc49b1cf19fe2e95e","email":"bounced@example.com","created_at":"2025-07-31T20:37:31.000000Z","updated_at":"2025-07-31T20:38:14.000000Z","deleted_at":"","domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2026-07-06T13:05:00.000000Z"}},"created_at":"2025-07-31T20:38:14.000000Z"}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/suppressions\/unsubscribes?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/suppressions\/unsubscribes?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/suppressions\/unsubscribes","per_page":10,"to":1}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
