interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/message-schedules?page=1&limit=10
  response:
    body:
      string: '{"data":[{"message_id":"6888bb59bbd49a78d3334484","subject":"Test Email","send_at":"2025-07-30T12:15:21.000000Z","status":"scheduled","status_message":null,"created_at":"2025-07-29T12:15:21.000000Z"},{"message_id":"6888bbb9b713a022b0acd094","subject":"Test
        Email","send_at":"2025-07-30T12:16:57.000000Z","status":"scheduled","status_message":null,"created_at":"2025-07-29T12:16:57.000000Z"}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","last":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/api.mailersend.com\/v1\/message-schedules","per_page":10,"to":2,"total":2}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
