interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/sms-numbers
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/sms-numbers?page=1","last":"https:\/\/api.mailersend.com\/v1\/sms-numbers?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":null,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","page":null,"active":false},{"url":"https:\/\/api.mailersend.com\/v1\/sms-numbers?page=1","label":"1","page":1,"active":true},{"url":null,"label":"Next
        &raquo;","page":null,"active":false}],"path":"https:\/\/api.mailersend.com\/v1\/sms-numbers","per_page":15,"to":null,"total":0}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
