interactions:
- request:
    body: '{"from": "+1234567890", "to": ["+1234567890"], "text": "Hello {{name}},
      this is a personalized message!", "personalization": [{"phone_number": "+1234567890",
      "data": {"name": "John"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/sms
  response:
    body:
      string: '{"message":"The from field contains an invalid number. (and 2 more
        errors)","errors":{"from":["The from field contains an invalid number."],"to":["Daily
        quota for this number exceeded."],"to.0":["The to.0 field contains an invalid
        number."]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
