interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/sms-recipients?limit=10
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/sms-recipients?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/sms-recipients?page=1","from":null,"path":"https:\/\/api.mailersend.com\/v1\/sms-recipients","per_page":"10","to":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
