interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/domains/65qngkdovk8lwr12/smtp-users
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/smtp-users?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":null,"path":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/smtp-users","per_page":25,"to":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
