interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/domains/65qngkdovk8lwr12/smtp-users?limit=50
  response:
    body:
      string: '{"data":[{"id":"3yxj6ljykk0ldo2r","name":"SMTP User Name","username":"MS_7Pzmoj@igor.fail","password":"***FILTERED***","enabled":true,"accessed_at":null,"server":"smtp.mailersend.net","port":"587
        or 2525","domain":"65qngkdovk8lwr12"}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/smtp-users?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/smtp-users?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/domains\/65qngkdovk8lwr12\/smtp-users","per_page":50,"to":1}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
