interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/templates?page=1&limit=10
  response:
    body:
      string: '{"data":[{"id":"jpzkmgq06pv4059v","name":"Template","description":null,"type":"dd","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_jpzkmgq06pv4059v.png","variables":{"variables":[],"personalization":[]},"created_at":"2026-03-03T13:30:34.000000Z","updated_at":"2026-03-03T13:30:34.000000Z","category":null,"categories":[],"translations":[]},{"id":"neqvygmmmkjg0p7w","name":"Template","description":null,"type":"dd","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_neqvygmmmkjg0p7w.png","variables":{"variables":[],"personalization":{"account_name":""}},"created_at":"2024-10-29T05:19:09.000000Z","updated_at":"2025-03-27T11:49:08.000000Z","category":null,"categories":[],"translations":[]},{"id":"k68zxl265yegj905","name":"Template","description":null,"type":"dd","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_k68zxl265yegj905.png","variables":{"variables":[],"personalization":{"products":[{"url":"","image":"","price":"","title":"","priceOld":"","description":""}]}},"created_at":"2026-04-22T09:24:16.000000Z","updated_at":"2026-07-01T07:06:07.000000Z","category":null,"categories":[],"translations":[]},{"id":"0r83ql3mwxmgzw1j","name":"Template","description":null,"type":"rt","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_0r83ql3mwxmgzw1j.png","variables":{"variables":[],"personalization":{"account_name":""}},"created_at":"2025-03-27T11:49:37.000000Z","updated_at":"2025-05-15T07:45:40.000000Z","category":null,"categories":[],"translations":[]},{"id":"z3m5jgrk1wxldpyo","name":"Template","description":null,"type":"html","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_z3m5jgrk1wxldpyo.png","variables":{"variables":[],"personalization":[]},"created_at":"2024-11-04T13:05:39.000000Z","updated_at":"2024-11-04T13:06:04.000000Z","category":null,"categories":[],"translations":[]},{"id":"351ndgwkr8xgzqx8","name":"SDK
        Test Template","description":"DO NOT REMOVE!","type":"rt","image_path":"https:\/\/storage.googleapis.com\/mailersend-screenshots\/screenshots\/template_351ndgwkr8xgzqx8.png","variables":{"variables":[],"personalization":{"name":"","account_name":""}},"created_at":"2025-04-04T12:33:42.000000Z","updated_at":"2026-01-26T12:03:25.000000Z","category":null,"categories":[],"translations":[]}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/templates?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https:\/\/api.mailersend.com\/v1\/templates?page=1","from":1,"path":"https:\/\/api.mailersend.com\/v1\/templates","per_page":10,"to":6}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
