interactions:
- request:
    body: '{"name": "Test Token", "domain_id": "invalid-domain-id", "scopes": ["email_full"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: "{\n    \"message\": \"You cannot create a resource at the moment. Please
        wait a while before retrying.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{"name": "Test Token", "domain_id": "invalid-domain-id", "scopes": ["email_full"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":{"id":"68811720f01a9328160217336d72be9d8cccd19d4b470439e4bfced767bc816581f856fbf7d4a6f8","accessToken":"***REMOVED***","name":"Test
        Token","created_at":"2025-07-29T14:13:43.000000Z","scopes":["email_full"],"has_full":false,"domain":null,"preview":"mlsn.858293","expires_at":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
