interactions:
- request:
    body: '{"name": "Test Token", "domain_id": "65qngkdovk8lwr12", "scopes": ["email_full"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":{"id":"4ce0bb437a8306fb4324eb1dd810a7426e3bf1ab8ed9939afed0caf7798c4e787c49776cd3abfc8c","accessToken":"***FILTERED***","name":"Test
        Token","created_at":"2026-07-06T13:05:26.000000Z","scopes":["email_full"],"has_full":false,"has_only_sending":false,"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","dkim":true,"spf":true,"mx":true,"tracking":false,"is_verified":true,"is_dns_active":true,"is_trial_domain":false,"domain_settings":{"send_paused":true,"track_clicks":false,"track_opens":false,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Custom
        unsubscribe {{unsubscribe}}<\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Custom
        unsubscribe {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":true,"custom_tracking_subdomain":"track","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false,"show_dmarc":false},"can":{"manage":true},"totals":[],"is_dkim_txt":false,"show_dkim_info":false,"is_being_verified":true,"is_custom_links_available":false},"preview":"***FILTERED***","expires_at":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
