interactions:
- request:
    body: '{"name": "Test Token", "domain_id": "invalid-domain-id", "scopes": ["email_full",
      "domains_read"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":{"id":"bad90d810661a91a3bf5fb89e54446966a84d75c0c1df8bac734de3eacc4626b213b12515d7b2e54","accessToken":"***REMOVED***","name":"Test
        Token","created_at":"2025-07-29T14:13:41.000000Z","scopes":["email_full","domains_read"],"has_full":false,"domain":null,"preview":"mlsn.35b04f","expires_at":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
version: 1
