interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token?limit=10
  response:
    body:
      string: '{"data":[{"id":"825056c70c29119c9addc129af51b34999c3259bbc0b33b29f05f2498f99274852444d2053dd1b2d","name":"Sender
        Identity Testing","status":"unpause","created_at":"2026-02-25T12:49:41.000000Z","scopes":["sender_identity_read"],"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2026-07-06T13:05:00.000000Z"}},{"id":"4d5e8256f0da8467462128f1f640e636da571ca656611113ecd84be416c513e948e2a13c2a3aa2de","name":"Full
        access","status":"unpause","created_at":"2026-02-25T12:53:46.000000Z","scopes":["email_full","tokens_full","webhooks_full","templates_full","inbounds_full","domains_full","activity_full","analytics_full","suppressions_full","sms_full","email_verification_full","recipients_full","sender_identity_full","smtp_users_full","users_full","dmarc_monitoring_full","[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":[{"id":"825056c70c29119c9addc129af51b34999c3259bbc0b33b29f05f2498f99274852444d2053dd1b2d","name":"Sender
        Identity Testing","status":"unpause","created_at":"2026-02-25T12:49:41.000000Z","scopes":["sender_identity_read"],"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token/non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "Test Token", "domain_id": "65qngkdovk8lwr12", "scopes": ["email_full"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":{"id":"26905bfe0a6dd08bc9fc926f19f4227147aa1091b6815ee7dde1517de608eac6578eedff70d387d7","accessToken":"***FILTERED***","name":"Test
        Token","created_at":"2026-07-06T13:05:27.000000Z","scopes":["email_full"],"has_full":false,"has_only_sending":false,"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","dkim":true,"spf":true,"mx":true,"tracking":false,"is_verified":true,"is_dns_active":true,"is_trial_domain":false,"domain_settings":{"send_paused":true,"track_clicks":false,"track_opens":false,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Custom
        unsubscribe {{unsubscribe}}<\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Custom
        unsubscribe {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":true,"custom_tracking_subdomain":"track","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false,"show_dmarc":false},"can":{"manage":true},"totals":[],"is_dkim_txt":false,"show_dkim_info":false,"is_being_verified":true,"is_custom_links_available":false},"preview":"***FILTERED***","expires_at":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token/another-non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 404
      message: Not Found
version: 1
