interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token?limit=10
  response:
    body:
      string: '{"data":[{"id":"13de53dd6847e4ff905b6ba30f2fdaee67537a612a8d04215fea7f0f3a7375ad978e958fc82dfe46","name":"Test
        Token","status":"unpause","created_at":"2025-07-29T14:12:47.000000Z","scopes":["email_full","domains_read"],"domain":null},{"id":"fcfbfcc86b70bf4c3c93c66d70daf48b192d27a1c8ff6aa520ceafe85d156d2fbaacf36ec44b19dd","name":"Test
        Token","status":"unpause","created_at":"2025-07-29T14:14:34.000000Z","scopes":["email_full"],"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2025-07-29T12:20:49.000000Z"}},{"id":"e932aecdc98977aae8f7b00a86a11692eda95968d0969869800cd9aa03e426e67df6e2dd95cd8219","name":"Test
        Token","status":"unpause","created_at":"2025-07-29T14:12:49.000000Z","scopes":["email_full"],"domain":null},{"id":"83bdf6bfc04bffa014217fe02522c9c08d0a3b0c8984d2173bb963cc067673dfb8e8637021655579","name":"Test
        Token","status":"unpause","created_at":"2025-07-29T14:12:50.000000Z","scopes":["email_full"],"domain":null},{"id":"bad90d810661a91a3bf5fb89e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":[{"id":"13de53dd6847e4ff905b6ba30f2fdaee67537a612a8d04215fea7f0f3a7375ad978e958fc82dfe46","name":"Test
        Token","status":"unpause","created_at":"2025-07-29T14:12:47.000000Z","scopes":["email_full","domains_read"],"domain":null},{"id":"fcfbfcc86b70bf4c3c93c66d70daf48b192d27a1c8ff6aa520ceafe85d156d2fbaacf[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token/non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "Test Token", "domain_id": "65qngkdovk8lwr12", "scopes": ["email_full"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/token
  response:
    body:
      string: '{"data":{"id":"c9af37917e69d2f9b3a3e0dff790e4288a1b5d3c46dc6055debb51603f67bd1c5fd6b41f41ad1353","accessToken":"***REMOVED***","name":"Test
        Token","created_at":"2025-07-29T14:14:45.000000Z","scopes":["email_full"],"has_full":false,"domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","dkim":true,"spf":true,"mx":true,"tracking":false,"is_verified":true,"is_dns_active":true,"is_trial_domain":false,"domain_settings":{"send_paused":true,"track_clicks":false,"track_opens":false,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Custom
        unsubscribe {{unsubscribe}}<\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Custom
        unsubscribe {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":true,"custom_tracking_subdomain":"track","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false,"show_dmarc":false},"can":{"manage":true},"totals":[],"is_dkim_txt":false,"show_dkim_info":false,"is_being_verified":true},"preview":"mlsn.864ffc","expires_at":null}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/token/another-non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
