interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/users?limit=10
  response:
    body:
      string: '{"data":[{"id":"6vywj2lpnmg7oqzd","avatar":"https:\/\/www.gravatar.com\/avatar\/c73820b36111c4206a6d6e171863578e?d=","email":"nikola@mailerlite.com","last_name":"Milojevi\u0107","name":"Nikola","2fa":true,"created_at":"2020-10-01T15:33:09.000000Z","updated_at":"2025-06-18T12:23:36.000000Z","role":"Admin","permissions":[],"domains":[{"id":"xkjn41mjxp94z781","name":"bob.fail","created_at":"2025-04-01T12:54:11.000000Z","updated_at":"2025-07-29T12:20:45.000000Z"},{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2025-07-29T12:20:49.000000Z"}],"templates":[{"id":"neqvygmmmkjg0p7w","name":"Template","description":null,"type":"dd","created_at":"2024-10-29T05:19:09.000000Z"},{"id":"0r83ql3mwxmgzw1j","name":"Template","description":null,"type":"rt","created_at":"2025-03-27T11:49:37.000000Z"},{"id":"z3m5jgrk1wxldpyo","name":"Template","description":null,"type":"gh","created_at":"2024-11-04T13:05:39.000000Z"},{"id":"351ndgwkr8xgzqx8","name":"SDK
        Test Template","description":"DO NOT REMOVE!","type":"rt","created_at":"2025-04-04T12:33:42.000000Z"}]},{"id":"oynrw7gymjg2k8e3","avatar":"https:\/\/storage.googleapis.co[...]
