interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/users?limit=10
  response:
    body:
      string: '{"data":[{"id":"oynrw7gymjg2k8e3","avatar":"https:\/\/storage.googleapis.com\/sso-avatars-prod\/avatars\/caFrrQXipgbxkdd6zZF8vijiVwQ4Pphq0Irchjql.jpg","email":"robert@mailerlite.com","last_name":"Gordon","name":"Robert","2fa":true,"created_at":"2020-09-30T12:04:49.000000Z","updated_at":"2026-06-26T12:35:13.000000Z","role":"Admin","permissions":[],"domains":[{"id":"dnvo4dmmq0x45r86","name":"cypress.litehub.io","created_at":"2026-06-05T08:44:00.000000Z","updated_at":"2026-07-06T08:21:10.000000Z"},{"id":"65qngkdovk8lwr12","name":"igor.fail","created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2026-07-06T13:05:00.000000Z"},{"id":"xkjn41mjxp94z781","name":"bob.fail","created_at":"2025-04-01T12:54:11.000000Z","updated_at":"2026-05-01T12:22:30.000000Z"}],"templates":[{"id":"jpzkmgq06pv4059v","name":"Template","description":null,"type":"dd","created_at":"2026-03-03T13:30:34.000000Z"},{"id":"neqvygmmmkjg0p7w","name":"Template","description":null,"type":"dd","created_at":"2024-10-29T05:19:09.000000Z"},{"id":"k68zxl265yegj905","name":"Template","description":null,"type":"dd","created_at":"2026-04-22T09:24:16.000000Z"},{"id":"0r83ql3mwxmgzw1j","name":"Template","description":null,"type":"rt","created_at":"2025-03-27T11:49:37.000000Z"},{"id":"z3m5jgrk1wxldpyo","name":"Template","description":null,"type":"gh","created_at":"2024-11-0[...]
