interactions:
- request:
    body: '{"email": "test-user@example.com", "role": "member", "permissions": ["email_send"],
      "templates": [], "domains": [], "requires_periodic_password_change": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/users
  response:
    body:
      string: '{"message":"The selected role is invalid. (and 2 more errors)","errors":{"role":["The
        selected role is invalid."],"templates":["Templates require a read own templates
        permission. #MS42224"],"permissions.0":["The selected permissions.0 is invalid."]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
