interactions:
- request:
    body: '{"url": "https://i-like-distributed-systems-undermined-by.single-points-of-failure.com/",
      "name": "Test Webhook", "events": ["activity.sent", "activity.delivered"], "domain_id":
      "invalid-domain-id", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/webhooks
  response:
    body:
      string: "{\n    \"message\": \"You cannot create a resource at the moment. Please
        wait a while before retrying.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 429
      message: Too Many Requests
[...]
- request:
    body: '{"url": "https://i-like-distributed-systems-undermined-by.single-points-of-failure.com/",
      "name": "Test Webhook", "events": ["activity.sent", "activity.delivered"], "domain_id":
      "invalid-domain-id", "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/webhooks
  response:
    body:
      string: '{"message":"The endpoint returned HTTP 405. (and 1 more error)","errors":{"url":["The
        endpoint returned HTTP 405."],"domain_id":["The domain id field is required.
        #MS42209"]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2026-07-07T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
