interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/webhooks?domain_id=65qngkdovk8lwr12
  response:
    body:
      string: '{"data":[{"id":"0r83ql3vxvgzw1jm","url":"https:\/\/example.com\/webhook","events":["activity.sent","activity.delivered"],"name":"Test
        Webhook","enabled":true,"editable":true,"secret":"cRP4dECSXJxo6HmuSVNXCIx1O2eiLgin","created_at":"2025-07-29T14:20:32.000000Z","updated_at":"2025-07-29T14:20:32.000000Z","domain":{"id":"65qngkdovk8lwr12","name":"igor.fail","dkim":true,"spf":true,"tracking":false,"is_verified":true,"is_cname_verified":true,"is_dns_active":true,"is_cname_active":false,"is_tracking_allowed":false,"has_not_queued_messages":true,"not_queued_messages_count":0,"domain_settings":{"send_paused":true,"track_clicks":false,"track_opens":false,"track_opens_pixel_on_top":false,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Custom
        unsubscribe {{unsubscribe}}<\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Custom
        unsubscribe {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":true,"custom_tracking_subdomain":"track","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false,"show_dmarc":false},"created_at":"2025-04-01T12:33:41.000000Z","updated_at":"2025-07-29T12:20:49.000000Z","totals":[]}}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/webhooks?page=1","last":"https:\/\/api.mailersend.com\/v1\/webhooks?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/api.mailersend.com\/v1\/webhooks?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/api.mailersend.com\/v1\/webhooks","per_page":25,"to":1,"total":1}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/webhooks/non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"url": "https://example.com/webhook", "name": "Test Webhook", "events":
      ["activity.sent"], "domain_id": "65qngkdovk8lwr12"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/webhooks
  response:
    body:
      string: "{\n    \"message\": \"You cannot create a resource at the moment. Please
        wait a while before retrying.\"\n}"
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 429
      message: Too Many Requests
- request:
    body: '{"url": "https://example.com/webhook", "name": "Test Webhook", "events":
      ["activity.sent"], "domain_id": "65qngkdovk8lwr12"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mailersend.com/v1/webhooks
  response:
    body:
      string: '{"message":"The url has already been taken.","errors":{"url":["The
        url has already been taken."]}}'
    headers:
      Content-Type:
      - application/json
      x-apiquota-remaining:
      - '-1'
      x-apiquota-reset:
      - '2025-07-30T00:00:00Z'
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mailersend.com/v1/webhooks/another-non-existent-id
  response:
    body:
      string: "{\n    \"message\": \"Resource not found.\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
